body	{
	background-color: #4c1743;
}
.menu {
	background-color: #4c1743;
	font-family: 'Montserrat', sans-serif;
}
.main	{
	background-color: #f39b8b;
	background-image: url(../img/hero_image.png);
	background-size: cover;
	padding: 20% 10%;

}
a {
	color: white !important;
}
h1	{
	color: white;
	font-family: 'Sarabun', sans-serif;
	font-weight: bold;
	font-size: 48px;

}
h5	{
	font-family: 'Sarabun', sans-serif;
	font-weight: bold;
}
p {
	font-family: 'Montserrat', sans-serif;
}
.footer	{
	background-color: #4c1743;
	padding: 36px 20px;
}
.nav	{
	justify-content: flex-end;
	align-items: flex-end;
}

.carousel-item img {
	height: 600px;
	object-fit: cover;
}
.links {
	text-align: right;
	font-family: 'Sarabun', sans-serif;
}
.navbar-brand	{
	padding: 10px 20px;
}
.hero-cta {
	padding-top: 20px;
}
.follow	{
	color: white;
	font-family: 'Montserrat', sans-serif;
}
.vision	{
	color: white;
	font-family: 'Sarabun', sans-serif;
}
.mission	{
	color: white;
	padding: 20% 10%;
	font-family: 'Sarabun', sans-serif;
	background-color: #f39b8b;
}
